<div class="inboard">
  <div class="margin">

    <div class="enclosure w50">
      <h3>Edit Company User</h3>
      <%= render 'edit_form'%>
    </div>

  </div>
</div>


<div class="inboard">
  <div class="margin">

    <div class="enclosure w50">
      <h3>New Career</h3>
      <%= render :partial => 'form' %>
    </div>

  </div>
</div>
