/sample
/tmp/*
/log/*
/tmp/*
/solr/*
/solr/pids/*
/solr/test/*
/solr/test/data/*
/config/database.yml
/public/system/*
/nbproject/private/
/config/database.yml
/db/schema.rb
/solr/pids/development/sunspot-solr-development.pid
/nbproject/*
/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
