<!--
<div class="col-lg-1 col-md-1 col-sm-1 no_pad_left job-req"></div>


<div class="col-lg-10 col-md-9 col-sm-9 no_pad profile-description">

  <div class="profile-portion">
    <div class="top-portion">
      <h4>Company Information</h4>
    </div>
    <%#= render 'info_edit' %>
  </div>

</div>
-->

  <div class="profile-portion">
    <div class="top-portion">
      <h4>Company Information</h4>
    </div>
    <%= render 'info_edit' %>
  </div>