<div class="inboard profile">
  <div class="margin">

    <div class="enclosure">

      <div class="w25">
        <h3>Company Profile</h3>
        <h6>
          <%if session[:staff_user].nil?%>
            <a href="<%= edit_eprofile_path(@eprofile.id)%>" id="show_edit">Edit</a>
          <% end %>
        </h6>
        <%= image_tag @eprofile.logo.url(:medium), class: "img-circle"%> 
      </div>

      <div class="w50">
        <%= render 'info' %>
      </div>

    </div>

  </div>
</div>

