<% @saved_searched_filer.each do |filter|%>  
    <div class="criteria-bx">
        <a href="/search/jobs<%=filter.criteria%>"><%= filter.name %></a>
        <a href="javascript:deleteSearchFilter(<%= filter.id%>)" class="icon icon-cross"></a> 
    </div>
<%end%>



