<!--right-side-->
            <div class="col-lg-3 col-md-3 col-sm-3  no_pad_right right-side">

                <div class="col-lg-12 local-emp">
                    <h3>Hire Local Talents</h3>

                    <div class="talent-grp">
                        <div class="talent-box">

                            <div class="talent-img">
                                <img src="/assets/hire-l-1.png" alt="" />
                            </div>

                            <div class="talent-detail">
                                <span class="name">Joseph Alex</span>
                                <span class="dec-per">UI / UX Designer</span>
                                <div class="year-info">
                                    <img alt="image" src="/assets/bag-icon.png">
                                    <span>4 Year</span>
                                </div>
                            </div>

                        </div>

                        <div class="talent-box">

                            <div class="talent-img">
                                <img src="/assets/hire-l-2.png" alt="" />
                            </div>

                            <div class="talent-detail">
                                <span class="name">Alexis George</span>
                                <span class="dec-per">UI / UX Designer</span>
                                <div class="year-info">
                                    <img alt="image" src="/assets/bag-icon.png">
                                    <span>7 Year</span>
                                </div>
                            </div>

                        </div>

                        <div class="talent-box">

                            <div class="talent-img">
                                <img src="/assets/hire-l-3.png" alt="" />
                            </div>

                            <div class="talent-detail">
                                <span class="name">Cris Johnson</span>
                                <span class="dec-per">UI / UX Designer</span>
                                <div class="year-info">
                                    <img alt="image" src="/assets/bag-icon.png">
                                    <span> 6 Year</span>
                                </div>
                            </div>

                        </div>

                        <div class="talent-box">

                            <div class="talent-img">
                                <img src="/assets/hire-l-1.png" alt="" />
                            </div>

                            <div class="talent-detail">
                                <span class="name">Joseph Alex</span>
                                <span class="dec-per">UI / UX Designer</span>
                                <div class="year-info">
                                    <img alt="image" src="/assets/bag-icon.png">
                                    <span>7 Year</span>
                                </div>
                            </div>

                        </div>

                    </div>

                    <a href="#" title="View All" class="view-all-link">View All</a>
                </div>

                <!--start sign-up-box-->
                <div class="col-lg-12 sign-up-box">
                    <h3>Get Talent alert by email</h3>
                    <div class="sign-bx">
                        <input type="text" placeholder="Email" />
                        <input type="button" value="Submit" class="sign-up-btn"  />
                    </div>
                </div>
                <!--End sign-up-box-->



                <div class="col-lg-12 search-emp">
                  <h4>Search Criteria  <a href="#"><img src="/assets/plus-symbol.png" alt="" /></a></h4>
                  <div class="criteria-portion">
                    <h6>Opening for UI UX Designers</h6>
                    <a href="javascript:" class="show-link" >Show Criteria <img src="/assets/down-arrow.png" alt="" /></a>
                    <ul class="criteria-detail">
                      <li><span><img src="/assets/search-ic1.png" alt="" /></span> <a href="#">View Jobs</a></li>
                      <li><span><img src="/assets/search-ic2.png" alt="" /></span>  <a href="#">Modify Criteria</a></li>
                      <li><span><img src="/assets/search-ic3.png" alt="" /> </span> <a href="#">Delete Criteria </a> </li>
                    </ul>
                  </div>


                  <div class="criteria-portion">
                    <h6>Opening for UI UX Designers in California</h6>
                    <a href="javascript:" class="show-link" >Show Criteria <img src="/assets/down-arrow.png" alt="" /></a>
                    <ul class="criteria-detail" >
                      <li><span><img src="/assets/search-ic1.png" alt="" /></span> <a href="#">View Jobs</a></li>
                      <li><span><img src="/assets/search-ic2.png" alt="" /></span>  <a href="#">Modify Criteria</a></li>
                      <li><span><img src="/assets/search-ic3.png" alt="" /> </span> <a href="#">Delete Criteria </a> </li>
                    </ul>
                  </div>


                  <div class="criteria-portion bord-non">
                    <h6>Immediate opening for UI UX Designers in Texas</h6>
                    <a href="javascript:" class="show-link" >Show Criteria <img src="/assets/down-arrow.png" alt="" /></a>
                    <ul class="criteria-detail">
                      <li><span><img src="/assets/search-ic1.png" alt="" /></span> <a href="#">View Jobs</a></li>
                      <li><span><img src="/assets/search-ic2.png" alt="" /></span>  <a href="#">Modify Criteria</a></li>
                      <li><span><img src="/assets/search-ic3.png" alt="" /> </span> <a href="#">Delete Criteria </a> </li>
                    </ul>
                  </div>
                </div>




            </div>
            <!--End right-side-->


<script type="text/javascript">
    $(document).ready(function(){

        $('.show-link').on('click',function(event ){

            $(this).next().toggle(500);

        });


    });
</script>
