<div class="inboard">
  <div class="margin">

    <div class="enclosure">
      <h3>CMS Pages</h3>

      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="lodge">
        <tr>
          <th>Page Name</th>
          <th class="last">Actions</th>
        </tr>
        <% @pages.each do |page| %>
        <tr>
          <td data-title="Page Name"><span><%= page.name %></span></td>
          <td class="last">
            <%= link_to page_path(page), class: "icon icon-edit", title: "Edit" do %><% end %>
          </td>
        </tr>
        <% end %>
      </table> 

    </div>



  </div>
</div>

