<div class="container">
  <div class="col-lg-12 no_pad ">
    <div class="create_container">
      <h1>New Banner</h1>

      <div class="create_job_sub_container container">
        <div class="col-lg-3"></div>
          <div class="col-lg-5">
            <%= render :partial => 'form' %>
          </div>

        </div>
      </div>
  </div>
</div>
