<div class="container-fluid search-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 no_pad ">
                <%= raw Page.find_by(name:'Home Page Banner').content %>
            </div>
        </div>
    </div>
</div>