<section class="terms">
  <div class="margin">

    <article>
      <h1 class="title">
       Privacy Policy
      </h1>
      <p>
        Proin ac nibh justo. Proin blandit risus ut nisl posuere lobortis. Morbi justo mauris, aliquam sit amet varius sit amet, sodales id neque. Aliquam maximus commodo justo. Quisque vitae purus massa. Aliquam in velit in diam tempus blandit.
      </p>

      <h2>
       1. Duis lobortis augue non sapien rhoncus
      </h2>
      <p>
        Curabitur viverra non ipsum et molestie. Sed ultrices dapibus augue, hendrerit semper eros posuere quis. Praesent a nulla luctus, ultricies purus id, maximus nisi. Mauris at metus vel metus dignissim congue. Praesent iaculis eros ante, sed maximus sapien varius quis.
      </p>

       <p>
        Donec iaculis turpis ac ligula euismod, vel rutrum felis ultrices. Cras venenatis vestibulum facilisis. Nulla facilisi. Sed tincidunt erat ac magna ornare, quis lobortis dolor ultrices. Aliquam mi justo, ornare eget nulla nec, molestie aliquet ligula. Nam interdum massa sit amet purus tristique
      </p>

      <p>
        Suspendisse ultricies porta dolor sed aliquet. Fusce ut quam iaculis lorem faucibus sagittis nec ultrices magna. Praesent aliquet metus ut feugiat elementum. Sed massa nisl, fermentum eu volutpat quis, congue eget ex.
      </p>

      <h2>
       2. Lorem ipsum dolor sit amet
      </h2>
      <p>
        Curabitur viverra non ipsum et molestie. Sed ultrices dapibus augue, hendrerit semper eros posuere quis. Praesent a nulla luctus, ultricies purus id, maximus nisi. Mauris at metus vel metus dignissim congue. Praesent iaculis eros ante, sed maximus sapien varius quis.
      </p>

       <p>
        Donec iaculis turpis ac ligula euismod, vel rutrum felis ultrices. Cras venenatis vestibulum facilisis. Nulla facilisi. Sed tincidunt erat ac magna ornare, quis lobortis dolor ultrices. Aliquam mi justo, ornare eget nulla nec, molestie aliquet ligula. Nam interdum massa sit amet purus tristique
      </p>

      <p>
        Suspendisse ultricies porta dolor sed aliquet. Fusce ut quam iaculis lorem faucibus sagittis nec ultrices magna. Praesent aliquet metus ut feugiat elementum. Sed massa nisl, fermentum eu volutpat quis, congue eget ex.
      </p>

      <h2>
       3. Cras venenatis vestibulum facilisis
      </h2>
      <p>
        Curabitur viverra non ipsum et molestie. Sed ultrices dapibus augue, hendrerit semper eros posuere quis. Praesent a nulla luctus, ultricies purus id, maximus nisi. Mauris at metus vel metus dignissim congue. Praesent iaculis eros ante, sed maximus sapien varius quis.
      </p>

       <p>
        Donec iaculis turpis ac ligula euismod, vel rutrum felis ultrices. Cras venenatis vestibulum facilisis. Nulla facilisi. Sed tincidunt erat ac magna ornare, quis lobortis dolor ultrices. Aliquam mi justo, ornare eget nulla nec, molestie aliquet ligula. Nam interdum massa sit amet purus tristique
      </p>

      <p>
        Suspendisse ultricies porta dolor sed aliquet. Fusce ut quam iaculis lorem faucibus sagittis nec ultrices magna. Praesent aliquet metus ut feugiat elementum. Sed massa nisl, fermentum eu volutpat quis, congue eget ex.
      </p>

      <h2>
       4. Vel rutrum felis ultrices
      </h2>
      <p>
        Curabitur viverra non ipsum et molestie. Sed ultrices dapibus augue, hendrerit semper eros posuere quis. Praesent a nulla luctus, ultricies purus id, maximus nisi. Mauris at metus vel metus dignissim congue. Praesent iaculis eros ante, sed maximus sapien varius quis.
      </p>

       <p>
        Donec iaculis turpis ac ligula euismod, vel rutrum felis ultrices. Cras venenatis vestibulum facilisis. Nulla facilisi. Sed tincidunt erat ac magna ornare, quis lobortis dolor ultrices. Aliquam mi justo, ornare eget nulla nec, molestie aliquet ligula. Nam interdum massa sit amet purus tristique
      </p>

      <p>
        Suspendisse ultricies porta dolor sed aliquet. Fusce ut quam iaculis lorem faucibus sagittis nec ultrices magna. Praesent aliquet metus ut feugiat elementum. Sed massa nisl, fermentum eu volutpat quis, congue eget ex.
      </p>
    </article>


   
  </div>
</section>