<div class="create_container">
  <h1>New Certification</h1>

  <div class="create_job_sub_container container">
    <div class="col-lg-3"></div>
    <div class="col-lg-5">
      <%= render :partial => 'form' %>
    </div>

  </div>
</div>
