<div class="container">
<div class="row">
    <div class="col-md-12">
      <div class="page-header">

        <h1>Right plan for Right Talent, Start with FREE Trail.</h1>

      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <div class="panel panel-info">

          <div class="panel-heading"><h3 class="text-center">PLAN </h3></div>
          <div class="panel-body text-center">
            <p class="lead" style="font-size:40px"><strong>Price </strong></p>
          </div>
        </div>
      </div>

      <% @jobseekerplans.each do |plan| %>
          <div class="col-md-2">
            <div class="panel panel-success">
              <div class="panel-heading"><h3 class="text-center"><%= plan.name %></h3></div>
              <div class="panel-body text-center">
                <p class="lead" style="font-size:40px"><strong><%= number_to_currency plan.price %></strong></p>
              </div>
              <% if plan.id != 6 %>
                  <div class="panel-footer">
                    <%= link_to 'Buy Now', checkout_payments_path(plan: "#{plan.name}"), :class => "btn btn-lg btn-block btn-success" %>
                  </div>
              <% end %>
            </div>
          </div>
      <% end %>
    </div>

  </div>

</div>