<div class="profile-detail" id="profile_resume_info_window">
  <ul class="prof-details2">

    <li>
      <span class="left-det">Resume HeadLine</span>
      <span class="dot">:</span>
      <span class="right-det"><%= @jprofile.try(:resume_headline) %> </span>
    </li>

    <li>
      <span class="left-det">Resume</span>
      <span class="dot">:</span>
      <span class="right-det"></span>
    </li>

  </ul>
</div>
