<div class="inboard profile">
  <div class="margin">

    <div class="enclosure">

      <div class="w25">
        <h3>Jobseeker Profile</h3>
        <h6><a href="<%= edit_jprofile_path(@jprofile.id)%>" id="show_edit_profile">Edit</a></h6>
        <%= image_tag @jprofile.logo.url(:medium), class: "img-circle"%> 
      </div>

      <div class="w50">
        <%= render 'profile_info' %>
      </div>

    </div>

  </div>
</div>