@charset "UTF-8";

@font-face {
  font-family: 'pro-bold';
  src: font-url('pro-bold-webfont.eot');
  src: font-url('pro-bold-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('pro-bold-webfont.woff') format('woff'),
       font-url('pro-bold-webfont.ttf') format('truetype'),
       font-url('pro-bold-webfont.svg#pro-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pro-semi';
  src: font-url('pro-semi-webfont.eot');
  src: font-url('pro-semi-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('pro-semi-webfont.woff') format('woff'),
       font-url('pro-semi-webfont.ttf') format('truetype'),
       font-url('pro-semi-webfont.svg#pro-semi') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pro-regular';
  src: font-url('pro-regular-webfont.eot');
  src: font-url('pro-regular-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('pro-regular-webfont.woff') format('woff'),
       font-url('pro-regular-webfont.ttf') format('truetype'),
       font-url('pro-regular-webfont.svg#pro-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pro-light';
  src: font-url('pro-light-webfont.eot');
  src: font-url('pro-light-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('pro-light-webfont.woff') format('woff'),
       font-url('pro-light-webfont.ttf') format('truetype'),
       font-url('pro-light-webfont.svg#pro-light') format('svg');
  font-weight: normal;
  font-style: normal;
}



@mixin border-radius($radius) { -webkit-border-radius: $radius; -moz-border-radius: $radius; -ms-border-radius: $radius; -o-border-radius: $radius; border-radius: $radius;}
@mixin border-radius-left($radius-left) { -webkit-border-top-left-radius: $radius-left; -webkit-border-bottom-left-radius: $radius-left; -moz-border-radius-topleft: $radius-left; -moz-border-radius-bottomleft: $radius-left; -ms-border-radius-topleft: $radius-left; -ms-border-radius-bottomleft: $radius-left; -o-border-radius-topleft: $radius-left; -o-border-radius-bottomleft: $radius-left; border-top-left-radius: $radius-left; border-bottom-left-radius: $radius-left;}
@mixin border-radius-right($radius-right) { -webkit-border-top-right-radius: $radius-right;-webkit-border-bottom-right-radius: $radius-right;-moz-border-radius-topright: $radius-right;-moz-border-radius-bottomright: $radius-right;-ms-border-radius-topright: $radius-right;-ms-border-radius-bottomright: $radius-right;-o-border-radius-topright: $radius-right;-o-border-radius-bottomright: $radius-right;border-top-right-radius: $radius-right;border-bottom-right-radius: $radius-right;}
@mixin box-shadow($shadow) { -webkit-box-shadow: $shadow; -moz-box-shadow: $shadow; -ms-box-shadow: $shadow; -o-box-shadow: $shadow; box-shadow: $shadow; }
@mixin text-shadow($shadow) { -webkit-text-shadow: $shadow; -moz-text-shadow: $shadow; -ms-text-shadow: $shadow; -o-text-shadow: $shadow; text-shadow: $shadow; }
@mixin opacity($value){ $IEValue: $value*100; opacity: $value; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")"; filter: alpha(opacity=$IEValue); zoom:1; -khtml-opacity: $value; -moz-opacity:$value; -webkit-opacity:$value;}


@mixin font_base {font-family: 'pro-light'; font-size: 18px; color: $base_color;}
@mixin reset_space{ margin: 0; padding: 0;}



$base_color: #666666;
$light_grey_color: #f8f8f8;
$grey_color: #bbbbbb;
$dark_grey_color: #404040;
$dark_color: #27333a;
$orange_color: #fe894f;
$blue_color: #257fd2;

.margin {width:1200px; margin: 0 auto;}
.centered { text-align: center;}
.block { width: 100%; display: block;}
.inline-block {*display: inline; display: inline-block; *zoom: 1;}
.clear {clear: both;}
.r1x { display: inline !important;}
.r2x { display: none !important;}
.full-height { height: 100%; min-height: 100%;}


/* GLOBAL */
/* -------------------------------------------------------------------------------------------------------------------------------------------------- */


html, body {@extend .full-height;}
html { position: relative;}
body {background:#fff; position: static; @include reset_space;  overflow-x: hidden;}

body, a, textarea  {line-height: 180%; @include font_base; }

hr { border-bottom: 1px solid #000;border-top: 0;border-right: 0;border-left: 0;min-height: 0px;height: 1px; clear: both; margin: 0px;}

h1, h2, h3, h4, h5, h6 {line-height: 100%; @include reset_space;}
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}


ul, ol { list-style:none;  @include reset_space; }
a, a:focus{ text-decoration: none; cursor: pointer; }
a:hover {text-decoration: none; }
a:hover, a:active, a:focus { outline: 0 !important;}


.nav > li > a:hover, .nav > li > a:focus { background-color: transparent;}


textarea, input[type="text"], input[type="password"], input[type="search"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, select.form-control, select,
textarea.form-control  { @include box-shadow(none); @include border-radius(0px);  }


textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus, textarea:hover, input[type="text"]:hover, input[type="password"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="date"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, input[type="number"]:hover, input[type="email"]:hover, input[type="url"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="color"]:hover, .uneditable-input:hover, select:hover, select.form-control:hover, .form-control:focus, .form-control:hover, textarea.form-control:hover, textarea.form-control:focus, input[type="search"]:focus, input[type="search"]:hover  {@include box-shadow(none); @include border-radius(0px);   }


textarea:hover, input:hover, textarea:active, input:active, textarea:focus, input:focus,button:focus,button:active,button:hover {outline:0px !important;}


input[type="radio"], input[type="checkbox"] { margin: 0px; width: auto !important;}

textarea, textarea.form-control, textarea.form-control:focus, textarea.form-control:hover {resize:none; }


.form-group { margin: 0px;}
.btn-group.open .dropdown-toggle {@include box-shadow(none); }

.btn, .btn:active, .btn:focus  {cursor: pointer; color: #fff; margin: 0; padding: 15px 20px;  @include border-radius(0px); @include box-shadow(none); vertical-align: middle; border:0;  }
.btn:hover{ cursor: pointer; color: #fff; padding: 15px 20px; @include border-radius(0px); @include box-shadow(none); border:0;  }






