@charset "UTF-8";

@font-face {
  font-family: 'pro-semi';
  src: font-url('pro-semi-webfont.eot');
  src: font-url('pro-semi-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('pro-semi-webfont.woff') format('woff'),
       font-url('pro-semi-webfont.ttf') format('truetype'),
       font-url('pro-semi-webfont.svg#pro-semi') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pro-regular';
  src: font-url('pro-regular-webfont.eot');
  src: font-url('pro-regular-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('pro-regular-webfont.woff') format('woff'),
       font-url('pro-regular-webfont.ttf') format('truetype'),
       font-url('pro-regular-webfont.svg#pro-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pro-light';
  src: font-url('pro-light-webfont.eot');
  src: font-url('pro-light-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('pro-light-webfont.woff') format('woff'),
       font-url('pro-light-webfont.ttf') format('truetype'),
       font-url('pro-light-webfont.svg#pro-light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pro-thin';
  src: font-url('pro-thin-webfont.eot');
  src: font-url('pro-thin-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('pro-thin-webfont.woff') format('woff'),
       font-url('pro-thin-webfont.ttf') format('truetype'),
       font-url('pro-thin-webfont.svg#pro-thin') format('svg');
  font-weight: normal;
  font-style: normal;
}




@mixin border-radius($radius) { -webkit-border-radius: $radius; -moz-border-radius: $radius; -ms-border-radius: $radius; -o-border-radius: $radius; border-radius: $radius;}
@mixin border-radius-left($radius-left) { -webkit-border-top-left-radius: $radius-left; -webkit-border-bottom-left-radius: $radius-left; -moz-border-radius-topleft: $radius-left; -moz-border-radius-bottomleft: $radius-left; -ms-border-radius-topleft: $radius-left; -ms-border-radius-bottomleft: $radius-left; -o-border-radius-topleft: $radius-left; -o-border-radius-bottomleft: $radius-left; border-top-left-radius: $radius-left; border-bottom-left-radius: $radius-left;}
@mixin border-radius-right($radius-right) { -webkit-border-top-right-radius: $radius-right;-webkit-border-bottom-right-radius: $radius-right;-moz-border-radius-topright: $radius-right;-moz-border-radius-bottomright: $radius-right;-ms-border-radius-topright: $radius-right;-ms-border-radius-bottomright: $radius-right;-o-border-radius-topright: $radius-right;-o-border-radius-bottomright: $radius-right;border-top-right-radius: $radius-right;border-bottom-right-radius: $radius-right;}
@mixin box-shadow($shadow) { -webkit-box-shadow: $shadow; -moz-box-shadow: $shadow; -ms-box-shadow: $shadow; -o-box-shadow: $shadow; box-shadow: $shadow; }
@mixin text-shadow($shadow) { -webkit-text-shadow: $shadow; -moz-text-shadow: $shadow; -ms-text-shadow: $shadow; -o-text-shadow: $shadow; text-shadow: $shadow; }
@mixin opacity($value){ $IEValue: $value*100; opacity: $value; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")"; filter: alpha(opacity=$IEValue); zoom:1; -khtml-opacity: $value; -moz-opacity:$value; -webkit-opacity:$value;}
@mixin transform($transform-value) {-webkit-transform:$transform-value; -moz-transform:$transform-value; -ms-transform:$transform-value; -o-transform:$transform-value; transform:$transform-value; }
@mixin transition($transition-value) {-webkit-transition:$transition-value; -moz-transition:$transition-value; -ms-transition:$transition-value; -o-transition:$transition-value; transition:$transition-value; }




@mixin font_base {font-family: 'pro-thin'; font-size: 18px; color: $base_color;}
@mixin reset_space{ margin: 0; padding: 0;}
@mixin font_icons {font-family: "font-sramic" !important; font-style: normal !important;  font-weight: normal !important;
  font-variant: normal !important;text-transform: none !important;speak: none;line-height: 1;-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }


$base_color: #666666;
$line_color: #dedede;
$light_grey_color: #f8f8f8;
$grey_color: #bbbbbb;
$dark_grey_color: #404040;
$dark_color: #27333a;
$dark_color_fade: rgba(39, 51, 57, 0.40);
$orange_color: #fe894f;
$blue_color: #257fd2;

$header_height: 80px;

.margin {width:1200px; margin: 0 auto;}
.centered { text-align: center;}
.block { width: 100%; display: block;}
.inline-block {*display: inline; display: inline-block; *zoom: 1;}
.clear {clear: both;}
.r1x { display: inline !important;}
.r2x { display: none !important;}
.full-height { height: 100%; min-height: 100%;}


/* GLOBAL */
/* -------------------------------------------------------------------------------------------------------------------------------------------------- */

html, body {@extend .full-height;}
html { position: relative;}
body {background:#fff; position: static; @include reset_space;  overflow-x: hidden;}

.vessel {@extend .block;@include reset_space; padding-top: $header_height; @extend .full-height;  }

body, a, textarea  {line-height: 160%; @include font_base; font-weight: normal !important; }
strong { font-weight: normal;}

hr { border-bottom: 1px solid $line_color;border-top: 0;border-right: 0;border-left: 0;min-height: 0px;height: 1px; clear: both; margin: 0px;}

h1, h2, h3, h4, h5, h6 {line-height: 100%; @include reset_space;}
h1 { font-size: 44px;}
h2 { font-size: 28px;}
h3 { font-size: 24px;}
h4 { font-size: 18px;}
h5 {font-size: 16px;}
h6 {font-size: 14px;}


ul, ol { list-style:none;  @include reset_space; }
a, a:focus{ text-decoration: none; cursor: pointer; }
a:hover {text-decoration: none; }
a:hover, a:active, a:focus { outline: 0 !important;}

.nav > li > a:hover, .nav > li > a:focus { background-color: transparent;}

form { display: inline; @include reset_space; }
.form-group { margin: 0px;}
label { color: $dark_color; font-size: 20px; font-family: 'pro-light'; @extend .block; margin-bottom: 6px; font-weight: normal;}
label em { color: $orange_color; font-style: normal; font-size: 22px; font-family: 'pro-semi'; padding-left: 5px;}

textarea, input[type="text"], input[type="password"], input[type="search"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, select.form-control, select,
textarea.form-control  { @include box-shadow(none); @include border-radius(2px); background: #fff; border: 1px solid $line_color; padding: 8px 10px; width: 100%; font-size: 16px; color: $base_color;  }


textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus, textarea:hover, input[type="text"]:hover, input[type="password"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="date"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, input[type="number"]:hover, input[type="email"]:hover, input[type="url"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="color"]:hover, .uneditable-input:hover, select:hover, select.form-control:hover, .form-control:focus, .form-control:hover, textarea.form-control:hover, textarea.form-control:focus, input[type="search"]:focus, input[type="search"]:hover  {@include box-shadow(none); @include border-radius(2px); background: #fff; border: 1px solid $dark_color; padding: 8px 10px; }


textarea:hover, input:hover, textarea:active, input:active, textarea:focus, input:focus,button:focus,button:active,button:hover {outline:0px !important;}

select, select:active, select:focus, select:hover { height: 48px; outline:0px !important;}


input[type="radio"], input[type="checkbox"] { margin: 0px; width: auto !important;}

textarea, textarea.form-control, textarea.form-control:focus, textarea.form-control:hover {resize:none; }


.btn-group.open .dropdown-toggle {@include box-shadow(none); }
.btn, .btn:active, .btn:focus, .btn.active, .btn.active:active {cursor: pointer; margin: 0; padding: 14px 20px 11px 20px; background: none;  @include border-radius(2px); @include box-shadow(none); vertical-align: middle; border:0; text-transform: uppercase; font-size: 16px; font-family: 'pro-light'; line-height: 100%;  }
.btn:hover{ cursor: pointer; padding: 14px 20px 11px 20px; background: none; font-size: 16px; font-family: 'pro-light';   @include border-radius(2px); @include box-shadow(none); border:0; line-height: 100%;  }

.btn-ghost, .btn-ghost:active, .btn-ghost:focus  { color: $grey_color; border: 1px solid $grey_color; }
.btn-ghost:hover{color: #fff; background: $grey_color; border: 1px solid $grey_color; }

.btn-orange-ghost, .btn-orange-ghost:active, .btn-orange-ghost:focus  { color: $orange_color; border: 1px solid $orange_color; }
.btn-orange-ghost:hover{color: #fff; background: $orange_color; border: 1px solid $orange_color; }

.btn-blue-ghost, .btn-blue-ghost:active, .btn-blue-ghost:focus  { color: $blue_color; border: 1px solid $blue_color; }
.btn-blue-ghost:hover{color: #fff; background: $blue_color; border: 1px solid $blue_color; } 

.btn-orange, .btn-orange:active, .btn-orange:focus  { color: #fff; background-color: $orange_color; border: 1px solid $orange_color; }
.btn-orange:hover{color:$orange_color; background: none; border: 1px solid $orange_color; }

.btn-blue, .btn-blue:active, .btn-blue:focus  { color: #fff; background-color: $blue_color; border: 1px solid $blue_color; }
.btn-blue:hover{color:$blue_color; background: none; border: 1px solid $blue_color; }

.btn-icon { display: inline;}
.btn-icon .icon, .btn-icon:focus .icon  { display: inline; float: left; color: $grey_color; font-size: 24px; margin: 3px 0px 0px 0px;}
.btn-icon span, .btn-icon:focus span {display: inline; float: left; font-size: 20px; color: $base_color; font-family: 'pro-light';}
.btn-icon:hover .icon { color:$orange_color; }
.btn-icon:hover span { color:$blue_color; }


/* ---- COLUMNS ---- */

.w25, .w50, .w75, .w100 { display: inline;}
.w25 { width: 23.7%;}
.w50 { width: 49.1%;}
.w75 { width: 74.6%;}
.w100 { width: 100%;}


/* ---- HEADER ---- */


header { @extend .block; background: #fff; height: $header_height; position: fixed; z-index: 200; clear: both; border-bottom: 1px solid #d8d8d8; text-align: center;}

header .logo { display: inline; float: left; margin: 20px 0px 0px 0px; text-align: left;}
header .logo:hover {@include opacity(0.6); } 

header nav.pull-right { display: inline; text-align: left;}
header nav.pull-right .btn-icon { display: inline; float: left; margin:28px 20px 0px 20px;}
header nav.pull-right .btn { display: inline; float: left; margin:19px 0px 0px 20px;}

header nav.inline-block .btn { @extend .inline-block; vertical-align: top; margin:19px 10px 0px 10px;}

header .notification {display: inline; float: left;  margin:29px 20px 0px 20px; text-align: left;}
header .notification .icon {display: inline; float: left; color: $grey_color; font-size: 24px; margin: 3px 2px 0px 0px; }
header .notification strong {display: inline; float: left; font-size: 20px; color: $base_color; font-family: 'pro-regular'; margin-right: 4px;}
header .notification span {display: inline; float: left; font-size: 20px; color: $base_color; font-family: 'pro-light';}
header .notification:hover span { color:$dark_color; }


header .profile {float: left; display: inline; margin: 6px 0px 0px 0px; position: relative; text-align: center;}
header .profile .img-circle { display: block; width: 64px; height: 64px; border: 1px solid $grey_color; }
header .profile.open .img-circle { border-color: $blue_color;}

header .profile .dropdown-toggle {@include border-radius(0px); background: none; border:0; }
header .profile .dropdown-toggle:hover .img-circle {border: 1px solid $blue_color;}
header .profile .dropdown-menu { margin: 0; border: 0; padding: 15px 0px; @include border-radius(2px); @include box-shadow(0px 1px 6px 2px rgba(0, 0, 0, 0.2)); right: -80%; left: auto; text-align: center; min-width: 200px; }
header .profile .dropdown-menu > li > a, header .profile .dropdown-menu > li > a:focus { background: none; padding: 15px 20px; line-height: normal; color: $base_color; font-family: 'pro-light'; }
header .profile .dropdown-menu > li > a:hover { color: $blue_color}



/* ---- FOOTER ---- */

footer {@extend .block; background: $base_color; color: $light_grey_color; padding: 80px 0px 60px 0px; float: left; clear: both;}


footer nav.w25 { float: left; margin-right: 20px;}
footer nav.w25:last-of-type { margin-right: 0px;}
footer nav h4 {@extend .block; float: left; text-transform: uppercase; color: $dark_grey_color; font-family: 'pro-regular'; margin-bottom: 20px;}
footer nav h4.payment { margin-top: -40px;} 
footer nav a, footer nav a:focus  {@extend .block; color: $light_grey_color; text-decoration: none; margin-bottom: 20px; line-height: 100%; float: left; text-decoration: none;}
footer nav a:hover {color: $light_grey_color; text-decoration: underline;}
footer nav a:last-of-type { margin-bottom: 0px;}

footer nav a.icon, footer nav a.icon:focus { display: inline; width: auto;}
footer nav a.icon:hover { color: $orange_color; text-decoration: none;}
footer nav a.icon::before { line-height: 0% !important;}
footer nav a.icon.icon-apple {font-size: 141px; margin: -24px 15px 0px 0px;}
footer nav a.icon.icon-play {font-size: 128px; margin: -20px 0px 0px 0px;}


footer nav em.icon { font-size: 30px; font-size: 70px; color: $light_grey_color; display: inline; float: left; margin: 6px 0px 0px 0px; }
footer nav em.icon::before {line-height: 0% !important;}

footer hr { border-color:$light_grey_color; @extend .block;  float: left;  margin: 25px 0px 33px 0px; }

footer .copy { display: inline; float: left; margin-top: 12px;}
footer .copy small { display: inline; color: $light_grey_color; font-size: 16px;}
footer .copy a, footer .copy a:focus { display: inline; color: $light_grey_color; font-size: 16px; text-decoration: none;}
footer .copy a:hover { text-decoration: underline;}
footer .copy a::before { content: "|"; padding: 0px 20px;}

footer .social {display: inline; float: right;}
footer .social li {display: inline; float: left;}
footer .social li a, footer .social li a:focus { font-size: 44px; color: $light_grey_color; margin-left: 20px; }
footer .social li a:hover { color: $orange_color; }
footer .social li a::before {line-height: 0% !important;}



/* ---- FULL SCREEN ---- */

.full-screen {@extend .block; @extend .full-height; text-align: center; overflow: hidden; background:no-repeat transparent center top image-url("layout/seeker.jpg");-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='layout/seeker.jpg', sizingMethod='scale'); -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='layout/seeker.jpg', sizingMethod='scale')"; position: relative;  }
.full-screen .middle { width: 100%; position: absolute; top: 25%;  }
.full-screen h1 { color: #fff; text-transform: uppercase; font-family: 'pro-semi'; text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4); line-height: 140%; margin-bottom: 40px;}
.full-screen .btn, .full-screen .btn:focus{ font-size: 24px; padding-left: 40px; padding-right: 40px; margin: 0px 20px 60px 0px;}
.full-screen .btn.btn-orange.active {color:#fff; background: $orange_color; border: 1px solid $orange_color;  }
.full-screen .btn.btn-blue.active {color:#fff; background: $blue_color; border: 1px solid $blue_color;  }
.full-screen .btn.btn-orange.pass {color:#fff; background: none; border: 1px solid #fff;  }
.full-screen .btn.btn-blue.pass {color:#fff; background: none; border: 1px solid #fff;  }

.full-screen .centered {position: absolute; left: 0px; bottom:34px; text-align: center; clear: both; width: 100%; }
.full-screen a.icon-scroll, .full-screen a.icon-scroll:focus { @extend .inline-block; font-size: 32px; color: #fff;}
.full-screen a.icon-scroll:hover {  color:$orange_color;}

.full-screen .banner-search { display: none;}
.full-screen .banner-search.active { display: block;}
.full-screen .banner-search .wrap { display: none;}


/* ---- BANNER SEARCH ---- */

.banner-search { text-align: left;}
.banner-search .margin { width: 960px; background: rgba(255, 255, 255, 0.5); @include border-radius(4px); padding: 20px; }

.banner-search .form-group { vertical-align: middle; @extend .inline-block; width: 27.8%; margin-right: 12px; margin-bottom: 12px; }
.banner-search .btn, .banner-search .btn:focus{vertical-align: middle; @extend .inline-block; padding: 14px 20px 11px 20px; font-size: 16px;  margin: 22px 0px 0px 0px;}

.banner-search .wrap { vertical-align: middle; @extend .inline-block; width: 100%; text-align: center; }
.banner-search .wrap > a, .banner-search .wrap > a:focus { text-decoration: none; font-size: 16px; font-family: 'pro-light'; text-transform: lowercase; }
.banner-search .wrap > a:hover { text-decoration: underline;}

.banner-search .icon {vertical-align: middle; @extend .inline-block; font-size: 60px;}


/* ---- SEARCH ENSIGN ---- */

.ensign { background:no-repeat transparent center center image-url("layout/job.jpg");-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='layout/job.jpg', sizingMethod='scale'); -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='layout/job.jpg', sizingMethod='scale')"; position: relative; padding: 100px 0px; }


/* ---- CUSTOM SELECT ---- */

.bootstrap-select, .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) { width: 100%;}
.bootstrap-select > .dropdown-toggle, .bootstrap-select > .dropdown-toggle:active, .bootstrap-select > .dropdown-toggle:focus { border: 1px solid $line_color !important; background: #fff !important; color: $base_color; line-height: normal; vertical-align: middle; padding: 13px 24px 13px 10px;  @extend .inline-block; float: none;@include font_base; text-transform: none; text-align: left;  font-size: 16px; @include box-shadow(none); outline: 0 !important;  @include box-shadow(none); margin: 0px; }
.bootstrap-select > .dropdown-toggle:hover {@include box-shadow(none); border-color: $dark_color; outline: 0 !important; background: none; }


.bootstrap-select.btn-group .dropdown-toggle .caret { border:0; width: auto; height: auto; top:14px; right: 10px; margin: 0px 0px 0px 0px; color: $blue_color;}
.bootstrap-select.btn-group.open .dropdown-toggle .caret { color: $orange_color;}
.bootstrap-select.btn-group .dropdown-toggle .caret::before { @include font_icons;  content: "g"; font-size: 20px;}
.bootstrap-select.btn-group.open .dropdown-toggle .caret::before { @include font_icons;  content: "j"; font-size: 20px;}  

.bootstrap-select.btn-group .dropdown-toggle .filter-option { vertical-align: middle;}


.bootstrap-select.btn-group .dropdown-menu { border:1px solid $line_color; background: #fff; @include border-radius(2px); @include box-shadow(none);  }
.bootstrap-select.btn-group .dropdown-menu > li > a, .bootstrap-select.btn-group .dropdown-menu > li > a:focus {font-size: 16px; color: $base_color; padding: 4px 10px; line-height: normal; background: none; text-transform: none;}
.bootstrap-select.btn-group .dropdown-menu > li > a:hover { background: none;}


.bootstrap-select .selected, .bootstrap-select .subselected { background: none; border: 0;}
.bootstrap-select .selected span, .orange .bootstrap-select .subselected span {color:$orange_color !important; }


select.selectpicker, select.selectpicker:active, select.selectpicker:focus, select.selectpicker:hover { height: auto;}



.blue .bootstrap-select .selected span, .blue .bootstrap-select .subselected span {color:$blue_color !important; }



/* ---- SECTION ---- */

section { @extend .block; padding: 80px 0px; clear: both;}


/* ---- TITLE  ---- */

.title { font-size: 30px; color: $dark_color;  font-family: 'pro-regular'; @extend .block; margin-bottom: 40px; text-align: center;}
.title .add, .title .add:focus  { font-size: 16px; padding: 0px 10px; color: $orange_color; text-decoration: none;}
.title .add:hover { color: $orange_color; text-decoration: underline;} 


/* ---- STRATUM ---- */

.stratum { overflow: hidden; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;  }

.stratum.blue {background:repeat transparent center top image-url("layout/stratum-blue.png"); filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='layout/stratum-blue.png', sizingMethod='scale'); -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='layout/stratum-blue.png', sizingMethod='scale')";} 
.stratum.orange {background:repeat transparent center top image-url("layout/stratum-orange.png"); filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='layout/stratum-orange.png', sizingMethod='scale'); -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='layout/stratum-orange.png', sizingMethod='scale')";} 



/* ---- SLICK ---- */

.slick-slider, .slick-slide {outline: 0 !important;}

.slick-prev, .slick-next {line-height: 0;position: absolute;top: 45%;display: block; margin-top:0px;padding: 0;cursor: pointer;border: none;outline: none;  width: 50px; height: 50px; background: none; color: transparent; font-size: 0px; }
.slick-prev::before, .slick-next::before { @include font_icons; font-size: 45px; color: $grey_color;}
.slick-next:hover, .slick-prev:hover {outline: none; color: transparent;font-size: 0px; }
.slick-next:hover::before, .slick-prev:hover::before {color: $orange_color; }

.slick-next::before {content: "e";}
.slick-next, .slick-next:focus{right: -40px;  }

.slick-prev::before {content: "d";}
.slick-prev, .slick-prev:focus{left: -40px;}


/* ---- LOZENGE ---- */

.lozenge {@extend .inline-block; vertical-align: middle; position: relative; position: relative; }

.lozenge .mask{ @extend .inline-block; vertical-align: middle; background: #fff; border: 10px solid $blue_color; width:130px; height:130px;  @include transform(rotate(-45deg));  @include border-radius(6px);  overflow: hidden; position: relative;}
.lozenge .mask img { display: block; @include transform(rotate(45deg)); margin: -25px 0px 0px -35px; vertical-align: middle; position: relative; z-index: 1 }

.lozenge .commas { display: block; width: 30px; height: 30px; background: $orange_color; @include transform(rotate(-45deg)); position: absolute; z-index: 2; top: 50px; right: -25px; @include border-radius(2px); text-align: center;}
.lozenge .commas span {display: block;font-size: 50px; @include transform(rotate(45deg));  color: #fff; font-family: 'pro-thin'; position: absolute;top: 12px; left: -4px;}


/* ---- NAV TABS ---- */

.nav.nav-tabs { padding: 0px; margin: 0px; border: 0; text-align: center;}
.nav.nav-tabs  > li { float: none;@extend .inline-block; margin: 0px; border: 0; border-right: 1px solid $line_color; padding: 20px 40px 10px 40px;}
.nav.nav-tabs  > li:last-of-type { border:0;}
.nav.nav-tabs  > li a, .nav.nav-tabs  > li a:focus {@include border-radius(0px); background: none; font-family: 'pro-regular'; font-size: 28px; color: $grey_color; border: 0; clear: both; }

.nav.nav-tabs  > li a strong { font-family: 'pro-regular'; font-size: 28px; color: $grey_color;  font-weight: normal; display: inline; float: left;}
.nav.nav-tabs  > li a .icon { font-size: 40px;color: $grey_color; display: inline; float: left; margin: -10px 10px 0px 0px;}

.nav.nav-tabs  > li.active a, .nav.nav-tabs  > li a:hover { border: 0; background: none;}  

.nav.nav-tabs  > li.orange a:hover strong, .nav.nav-tabs  > li.orange.active a strong, .nav.nav-tabs  > li.orange a:hover .icon, .nav.nav-tabs  > li.orange.active a .icon  { color: $orange_color;}
.nav.nav-tabs  > li.blue a:hover strong, .nav.nav-tabs  > li.blue.active a strong, .nav.nav-tabs  > li.blue a:hover .icon, .nav.nav-tabs  > li.blue.active a .icon  { color: $blue_color;}


.nav.nav-tabs.sub { margin: 40px 0px;}
.nav.nav-tabs.sub > li, .nav.nav-tabs.sub > li:last-of-type {  padding: 0px; border:0; margin: 0px 20px; }
.nav.nav-tabs.sub  > li a, .nav.nav-tabs.sub  > li a:focus {@include border-radius(2px); font-family: 'pro-light';  text-transform: uppercase; line-height: 100%;  vertical-align: middle;  font-size: 14px; font-family: 'pro-light';  margin: 0px; border: 1px solid $line_color; padding: 8px 20px 6px 20px;} 


.nav.nav-tabs.sub  > li.orange a:hover, .nav.nav-tabs.sub  > li.orange.active a, .nav.nav-tabs.sub  > li.orange a:hover .icon, .nav.nav-tabs.sub  > li.orange.active a .icon  { color: $orange_color; border-color: $orange_color;}
.nav.nav-tabs.sub  > li.blue a:hover, .nav.nav-tabs.sub  > li.blue.active a, .nav.nav-tabs.sub  > li.blue a:hover .icon, .nav.nav-tabs.sub  > li.blue.active a .icon  { color: $blue_color; border-color: $blue_color;}


.tab-content .item {width: 100%; text-align: left; display: inline; float: left; clear: both;}
.tab-content .item li { width:20%; vertical-align: top;  display: inline; float: left; padding: 0px 5px 0px 5px; margin: 0px;}
.tab-content .item li a { font-size: 16px; color: $base_color; font-family: 'pro-thin';}
.tab-content .item li a span {font-family: 'pro-light'; padding: 0px 4px;}

.tab-content .item li.orange a span {color: $orange_color;}



/* ---- SESSION ---- */

.session {@extend .block; @extend .full-height; text-align: center; overflow: hidden; background:no-repeat transparent center top image-url("layout/candidate.jpg");-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='layout/candidate.jpg', sizingMethod='scale'); -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='layout/candidate.jpg', sizingMethod='scale')"; position: relative;  }

.session .wrapper { width: 500px; display: block; background: rgba(255, 255, 255, 0.5); @include border-radius(4px); padding: 40px; }
.session .wrapper h1 {@extend .block; text-transform: uppercase; font-size: 24px; color: $dark_color; font-family: 'pro-regular'; margin-bottom: 20px;}

.session .wrapper .form-group { text-align: left; @extend .block; margin-bottom: 20px; clear: both;}
.session .wrapper .form-group label {margin-bottom: 0px;}

.session .wrapper .centered {@extend .block; margin-top: 20px;}
.session .wrapper .centered a { @extend .block;  margin-bottom: 0px;}
.session .wrapper .centered a:last-of-type { margin-bottom: 0px;}
.session .wrapper .centered a, .session .wrapper .centered a:focus { font-size: 16px; color: $blue_color; font-family: 'pro-light'; text-decoration: none;  }
.session .wrapper .centered a:hover { color: $blue_color; text-decoration: underline;}

.session .wrapper .simple_captcha_image { @extend .inline-block; margin: 0px; vertical-align: top;}
.session .wrapper .reload-info {@extend .inline-block; margin: 0px; vertical-align: top;}
.session .wrapper .simple_captcha_field {@extend .block; }
.session .wrapper .reload-info a{@extend .inline-block;  margin: 0px 0px 0px 10px; overflow: hidden; vertical-align: top;}


.session .nav.nav-tabs { margin-bottom: 20px;}
.session .nav.nav-tabs  > li { padding: 5px 20px 5px 20px; border-right: 1px solid $dark_color_fade;}
.session .nav.nav-tabs  > li:last-of-type { border:0;}
.session .nav.nav-tabs  > li a, .session .nav.nav-tabs  > li a:focus {font-size: 22px; color:$dark_color_fade;}
.session .nav.nav-tabs  > li a strong { font-size: 22px; color:$dark_color_fade; }
.session .nav.nav-tabs  > li a .icon { font-size: 30px; color: $dark_color_fade; margin: -5px 10px 0px 0px;}



/* ---- CUSTOM CHECKBOX AND RADIO BUTTONS ---- */

.icheckbox,  .iradio {@extend .block; }

.icheckbox_flat, .iradio_flat{display: inline-block;*display: inline;vertical-align: middle;margin: 0;padding: 0;width: 20px;height: 20px; border: none; cursor: pointer; background:no-repeat  image-url("layout/flat.png");}
 
.icheckbox_flat {background-position: 0 0;}
.icheckbox_flat.checked {background-position: -22px 0;}
.icheckbox_flat.disabled {background-position: -44px 0;cursor: default;}
.icheckbox_flat.checked.disabled {background-position: -66px 0;}

.iradio_flat {background-position: -88px 0;}
.iradio_flat.checked {background-position: -110px 0;}
.iradio_flat.disabled {background-position: -132px 0;cursor: default;}



/* ---- COLLAPSE ---- */

.panel-group {@extend .inline-block;  width: 100%; clear: both; margin: 0px;}
.panel-group .panel {@include border-radius(0px); border:0; border-bottom: 1px solid $line_color; background: none; @include box-shadow(none); margin: 10px 0px 0px 0px; display: inline; float: left; width: 100%; margin-bottom: 10px; padding-bottom: 10px;}
.panel-group .panel:last-of-type { margin-bottom: 0;}

.panel-group .panel .panel-heading { padding: 0px; @include border-radius(0px); border: 0; background: none; }
.panel-group .panel .panel-heading a, .panel-group .panel .panel-heading a:focus, .panel-group .panel .panel-heading a:hover { font-size: 22px; color: $orange_color; font-family: 'pro-light';  @extend .block; float: left;}
.panel-group .panel .panel-heading a.collapsed, .panel-group .panel .panel-heading a.collapsed:focus, .panel-group .panel .panel-heading a:hover.collapsed { color: $blue_color;} 
.panel-group .panel .panel-heading a span { display: inline; float: left;}
.panel-group .panel .panel-heading a .icon { display: inline; float: right; margin-top: 3px;}

.panel-group .panel .panel-heading a .icon.icon-arrow-down { display: none; color: $blue_color;}
.panel-group .panel .panel-heading a .icon.icon-arrow-up { display: inline; color: $orange_color;}
.panel-group .panel .panel-heading a.collapsed .icon.icon-arrow-down { display: inline; color: $blue_color}
.panel-group .panel .panel-heading a.collapsed .icon.icon-arrow-up { display: none;  color: $orange_color;}


.panel-group .panel .panel-collapse {width: 100%; float: left;}


/* ---- ASIDE FILTERS ---- */

.filtering {@extend .inline-block; text-align: center;  }
.filtering .btn, .filtering .btn:focus, .filtering .btn:hover, .filtering .btn:active { display: block; padding: 8px 20px 6px 20px; font-size: 14px; margin: 0px 0px 20px 0px;}

.filtering .btn.active, .filtering .btn.active:focus, .filtering .btn.active:hover, .filtering .btn.active:active { border: 1px solid $orange_color; color: $orange_color; background: none; cursor:default; }


/* ---- MODAL ---- */

.modal-box {display: none;position: fixed;z-index: 1001; background:#fff; @include border-radius(4px); @include box-shadow(0 3px 9px rgba(0, 0, 0, 0.5)); border:0px; padding: 40px 40px;}

.modal-box .modal-header { @extend .block; border-bottom:1px solid $line_color; text-align: center; position: relative; min-height: auto; padding: 0px 0px 20px 0px; margin-bottom: 40px;}
.modal-box .modal-header h2 { font-family: 'pro-regular';}


.modal-box a.close, .modal-box a.close:focus { color: $grey_color; font-size: 30px; line-height: 1;position: absolute;right: 25px;text-decoration: none;top: 0px; z-index: 999; @include opacity(1); }
.modal-box a.close:hover { @include opacity(1);}

.modal-box .modal-body {@extend .block; border:0px; padding: 0px; text-align: center; margin-bottom: 20px; overflow: initial;}
.modal-box .modal-body .form-group { @extend .inline-block; vertical-align: top;  width: 23%; margin: 0px 10px 20px 10px; text-align: left;}

.modal-box .modal-footer {@extend .block; border:0px; text-align: center; padding: 0px; border:0; background: none; }


/* ---- SEARCH RESULT ---- */

.result { width: 100%; display: inline; float: left; margin: 20px 0px 20px 0px; padding-bottom: 20px; border-bottom: 1px solid $line_color;}
.result a {width: 100%; display: inline; float: left;}
.result .w25 { display: inline; float: left; width: 94px;}
.result .w75 { display: inline; float: right; width:86%;}

.result .img-circle {  width: 94px; height: 94px; display: block; border: 1px solid $grey_color;}

.result h2 {font-size: 24px;  font-family: 'pro-regular'; color: $dark_color; width: 100%; display: inline; float: left; margin-bottom: 10px;}
.result h3 { font-size: 18px; font-family: 'pro-light';  width: 100%; display: inline; float: left; margin-bottom: 10px;}
.result .details { width: 100%; display: inline; float: left;}
.result .details .icon { color: $grey_color; font-size: 26px; display: inline; float: left; margin: 2px 4px 0px 0px;}
.result .details .icon.icon-star { font-size: 28px; margin-top: -2px;} 
.result .details span { display: inline; float: left; margin: 0px 20px 0px 0px; color: $base_color;}
.result .details span:last-of-type { margin-right: 0px;}  

.result a:hover{  @include opacity(0.45);}


/* ---- PAGINATION ---- */

.pagination { @include border-radius(0px); @extend .inline-block;margin: 20px 0px; }
.pagination ul li { @extend .inline-block; @include border-radius(0px); border:0;  padding: 0px; text-align: center; @include box-shadow(none); margin: 0px; line-height: 100%; }
.pagination ul li:hover, .pagination ul li:focus { background: none; color: $dark_grey_color; } 
.pagination ul li a, .pagination ul li a:focus { margin: 0px; padding: 0px; font-size: 16px; color: $dark_grey_color; font-family: 'pro-light'; @extend .inline-block; padding: 15px 5px; border: 1px solid $line_color; min-width: 35px; line-height: 100%; @include border-radius(2px); }
.pagination ul li a:hover, .pagination ul li a.active, .pagination ul li a.active:hover { color: #fff;}



/* CONTENT */
/* -------------------------------------------------------------------------------------------------------------------------------------------------- */


/* ---- HOME EXHIBIT ---- */

.exhibit { text-align: center;}
.exhibit article { width: 49%; @extend .inline-block; padding: 40px; vertical-align: top; border-right: 1px solid $line_color;}
.exhibit article:last-of-type { border:0;}
.exhibit article .img-circle { @extend .inline-block;  width: 180px; height: 180px; position: relative; text-align: center; }
.exhibit article .img-circle .icon { font-size: 130px; position: relative; }
.exhibit article .img-circle .icon::before { top: 30px; left: 26px; position: absolute;}
.exhibit article h2 { @extend .block; color: $dark_color; font-family: 'pro-regular'; margin-top: 40px;}
.exhibit article p { @extend .block; margin: 20px 0px 40px 0px; padding: 0px 40px;}
.exhibit article .btn {margin: 0px 20px;}

.exhibit article.orange .img-circle { border: 1px solid $orange_color;}
.exhibit article.orange .img-circle .icon { color: $orange_color;}
.exhibit article.blue .img-circle { border: 1px solid $blue_color;}
.exhibit article.blue .img-circle .icon { color: $blue_color;}


/* ---- HOME AMOUNT ---- */

.amount {@extend .block; text-align: center;}
.amount li {@extend .inline-block; vertical-align: top; text-align: left; padding: 20px 60px; border-right: 1px solid #c8c8c8; }
.amount li:last-of-type { border-right:0; }
.amount li h2 {@extend .block; color: #fff; font-family: 'pro-light';}
.amount li h2 strong { font-size: 48px; font-family: 'pro-regular'; padding-right: 10px;}
.amount li p {@extend .block; color: #fff; margin: 10px 0px 0px 0px;}


/* ---- HOME TESTIMONIALS ---- */

.testimonials {@extend .block; }
.testimonials li { width: 100%; text-align: center; padding: 0px 40px ; }
.testimonials li .lozenge{ margin-right: 46px;}
.testimonials li article {@extend .inline-block; vertical-align: middle; width: 50%; text-align: left;} 
.testimonials li article h3 {@extend .block; color: $dark_color; font-family: 'pro-regular'; margin-bottom: 10px;}
.testimonials li article h4 {@extend .block;  color: $blue_color; margin-bottom: 20px;}
.testimonials li article p{@extend .block;  margin-bottom: 20px;}
.testimonials li article p:last-of-type { margin-bottom: 0px;}



/* ---- HOME TABS ---- */

.tabs-container { border-top: 20px solid $orange_color; background:$light_grey_color; display: inline; float: left; }



/* ---- CONTACT US/ NEWSLETTER FORM ---- */

.form-field {@extend .inline-block; vertical-align: top; width: 50%; margin-top: 80px; }

.form-field .form-group { text-align: left; margin-bottom: 20px;}
.form-field .form-group textarea { height: 200px;}
.form-field .btn { margin: 0px 5px;}


/* ---- ABOUT US ---- */

.about-us ul {@extend .block; margin-top: 40px;}
.about-us ul li {@extend .inline-block; vertical-align: top; padding: 40px 40px 30px 40px; border-right: 1px solid $line_color; width: 49%; }
.about-us ul li.no-line { border-right: 0px;} 
.about-us ul li h2 {@extend .block; font-size: 22px; text-transform: uppercase; font-family: 'pro-light'; margin-bottom: 40px;}
.about-us ul li h2.blue { color: $blue_color;} 
.about-us ul li h2.orange { color: $orange_color;} 
.about-us ul li p {@extend .block; }


/* ---- FAQS ---- */

.faqs .centered {@extend .block;}
.faqs article { margin-bottom: 40px;}
.faqs .filtering {@extend .inline-block; vertical-align: top;  width: 12%; margin-right: 40px; padding-top: 18px;}
.faqs .panel-group {@extend .inline-block; vertical-align: top;  width: 84%;}


/* ---- PRICING ---- */

.pricing article { margin-bottom: 40px;}

.pricing table { width: 100%; margin-top: 40px; background: #fff;}

.pricing table td { background: #fff; border:1px solid $line_color; text-align: center; padding: 20px 5px; vertical-align: middle; }
.pricing table td.noline{ border: 0;}
.pricing table td.highlight { padding: 5px; text-transform: uppercase; color: $orange_color; font-family: 'pro-semi'; font-size: 16px;}
.pricing table td strong {font-family: 'pro-regular';  font-size: 16px; color: $dark_color} 

.pricing table th { background: $light_grey_color; border:1px solid $line_color; text-align: center; font-size: 22px; color: $dark_color; font-family: 'pro-regular';  padding: 30px 5px; vertical-align: middle; }

.pricing table h4 {@extend .block; font-size: 22px; color: $blue_color; text-transform: uppercase; font-family: 'pro-regular'; }
.pricing table .wrap {@extend .block; margin-top: 20px; }
.pricing table em {font-size: 22px;  display: inline; color: $orange_color;  font-family: 'pro-light'; font-style: normal;}
.pricing table h5 {font-size: 76px;  display: inline; color: $blue_color; font-family: 'pro-regular';}
.pricing table small {font-size: 12px;  display: inline; color: $base_color; font-family: 'pro-regular'; text-transform: uppercase;}


/* ---- TERMS ---- */

.terms p {@extend .block; margin-bottom: 20px;}
.terms p:last-of-type { margin-bottom: 20px;}
.terms h2 {@extend .block; margin: 40px 0px 20px 0px; color: $blue_color;}



/* ---- SEARCH ---- */

.search section { padding: 40px 0px;}

.search .results { width: 100%; display: inline; float: left; text-align: right; font-size: 18px; font-family: 'pro-light';}
.search .results small { font-size: 16px; color: $base_color;}

.search .search-results {  display: inline; float: right; margin-bottom: 40px; }
.search .search-results h6 { @extend .block; font-size: 18px; padding: 20px;}

.search aside { display: inline; float: left; width: 21.7%;}
.search aside  article { @extend .block; background: #e0e0e0; padding: 40px 20px; margin-bottom: 40px;}
.search aside h3 { @extend .block; text-transform: uppercase; text-align: center; font-size: 22px; font-family: 'pro-light'; margin-bottom:20px;}
.search aside .form-group {@extend .block; margin-bottom: 20px;}


.search aside .criteria-bx {@extend .block;  margin-bottom: 10px;}
.search aside .criteria-bx:last-of-type { margin-bottom: 0;} 
.search aside .criteria-bx a, .search aside .criteria-bx a:focus  { @extend .inline-block; font-size: 18px; color: $dark_grey_color; text-decoration: none; vertical-align: top; padding: 0px 6px 0px 0px;}
.search aside .criteria-bx a:hover {color: $dark_grey_color; text-decoration: underline;} 
.search aside .criteria-bx a.icon, .search aside .criteria-bx a.icon:focus { font-size: 22px; padding: 0px;}
.search aside .criteria-bx a.icon:hover { text-decoration: none;}






/* ORANGE */
/* -------------------------------------------------------------------------------------------------------------------------------------------------- */


.orange header .notification strong  { color: $orange_color;}
.orange header .notification:hover .icon  { color:$orange_color; }
.orange header .profile .dropdown-toggle:hover .img-circle {border: 1px solid $orange_color;}
.orange header .profile .dropdown-menu > li > a:hover { color: $orange_color}
.orange header .profile.open .img-circle { border-color: $orange_color;}

.orange .bootstrap-select.btn-group .dropdown-toggle .caret { color:$orange_color; }
.orange .bootstrap-select.btn-group .dropdown-menu > li > a:hover { color:$orange_color;}
.orange .bootstrap-select .selected span, .orange .bootstrap-select .subselected span {color:$orange_color !important; }
.orange .bootstrap-select.btn-group.open .dropdown-toggle .caret { color: $orange_color;}

.orange .pagination ul li a:hover, .orange .pagination ul li a.active, .orange .pagination ul li a.active:hover { background: $orange_color; border-color: $orange_color;}

.search.orange .results { color: $orange_color;}
.search.orange aside h3 { color: $orange_color;}
.search.orange aside .criteria-bx a.icon, .search.orange aside .criteria-bx a.icon:focus { color: $orange_color;}
.search.orange aside .criteria-bx a.icon:hover { color: $base_color;}




.banner-search.orange .wrap > a, .banner-search.orange .wrap > a:focus, .banner-search.orange .wrap > a:hover  { color: $orange_color;}
.banner-search.orange .icon {color: $orange_color;}
.banner-search.orange .bootstrap-select.btn-group .dropdown-toggle .caret {color: $orange_color;}
.banner-search.orange .bootstrap-select.btn-group .dropdown-menu > li > a:hover { color:$orange_color; }
.banner-search.orange .bootstrap-select .selected span, .banner-search.orange .bootstrap-select .subselected span {color:$orange_color !important; }
.banner-search.orange .bootstrap-select.btn-group.open .dropdown-toggle .caret { color: $orange_color;}

.pricing .tab-content .orange.tab-pane table td.highlight { color: $orange_color;}
.pricing .tab-content .orange.tab-pane table h4 { color: $blue_color;}
.pricing .tab-content .orange.tab-pane table em { color: $orange_color;}
.pricing .tab-content .orange.tab-pane table h5 { color: $blue_color;}


.modal-box.orange .modal-header h2 { color: $orange_color;}
.modal-box.orange a.close:hover { color: $orange_color;}


.result.orange h3 { color: $orange_color;}


/* BLUE */
/* -------------------------------------------------------------------------------------------------------------------------------------------------- */


.blue header .notification strong  { color: $blue_color;}
.blue header .notification:hover .icon  { color:$blue_color; }
.blue header .profile .dropdown-toggle:hover .img-circle {border: 1px solid $blue_color;}
.blue header .profile .dropdown-menu > li > a:hover { color: $blue_color;}
.blue header .profile.open .img-circle { border-color: $blue_color;}

.blue .bootstrap-select.btn-group .dropdown-toggle .caret { color:$blue_color; }
.blue .bootstrap-select.btn-group .dropdown-menu > li > a:hover { color:$blue_color; }
.blue .bootstrap-select .selected span, .blue .bootstrap-select .subselected span {color:$blue_color !important; }
.blue .bootstrap-select.btn-group.open .dropdown-toggle .caret { color: $blue_color;}


.blue .pagination ul li a:hover, .blue .pagination ul li a.active, .blue .pagination ul li a.active:hover { background: $blue_color; border-color: $blue_color;}

.search.blue .results { color: $blue_color;}
.search.blue aside h3 { color: $blue_color;}
.search.blue aside .criteria-bx a.icon, .search.blue aside .criteria-bx a.icon:focus { color: $blue_color;}
.search.blue aside .criteria-bx a.icon:hover { color: $base_color;}

.banner-search.blue .wrap > a, .banner-search.blue .wrap > a:focus, .banner-search.blue .wrap > a:hover  { color: $blue_color;}
.banner-search.blue .icon {color: $blue_color;}
.banner-search.blue .bootstrap-select.btn-group .dropdown-toggle .caret {color: $blue_color;}
.banner-search.blue .bootstrap-select.btn-group .dropdown-menu > li > a:hover { color:$blue_color; }
.banner-search.blue .bootstrap-select .selected span, .banner-search.blue .bootstrap-select .subselected span {color:$blue_color !important; }
.banner-search.blue .bootstrap-select.btn-group.open .dropdown-toggle .caret { color: $blue_color;}


.pricing .tab-content .blue.tab-pane table td.highlight { color: $blue_color;}
.pricing .tab-content .blue.tab-pane table h4 { color: $orange_color;}
.pricing .tab-content .blue.tab-pane table em { color: $blue_color;}
.pricing .tab-content .blue.tab-pane table h5 { color: $orange_color;}


.modal-box.blue .modal-header h2 { color: $blue_color;}
.modal-box.blue a.close:hover { color: $blue_color;}

.result.blue h3 { color: $blue_color;}




/* RETINA */
/* -------------------------------------------------------------------------------------------------------------------------------------------------- */


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {

  .icheckbox_flat, .iradio_flat { background-image:  image-url("flat@2x.png"); -webkit-background-size: 176px 22px;background-size: 176px 22px;}

}

/* MOBILE WIDTH */
/* -------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ---- W 1024 ---- */

@media screen and (max-width: 1024px){

  html { -webkit-overflow-scrolling: touch; }
  body {-webkit-text-size-adjust: none;}

}

/* MOBILE HEIGHT */
/* -------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ---- H 960 ---- */

@media screen and (max-height: 960px){

  .session {height: auto; min-height: auto; padding: 40px 0px;}

}


/* ---- H 740 ---- */

@media screen and (max-height: 740px){

  .full-screen .centered { display: none;}
}
