<div class="create_container">
  <h1>Edit Email Template</h1>

  <div class="create_job_sub_container container">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <%= render :partial => 'form' %>
    </div>

  </div>
</div>
