<div class="inboard">
  <div class="margin">

    <div class="enclosure">
      <h3>My Messages</h3>

      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="lodge">
        <tr>
          <th>From</th>
          <th class="last">Message</th>
        </tr>
        <% @jobseeker_messages.try(:each) do |message| %>
        <tr>
          <td data-title="From"><span><%=message.try(:employer).try(:user).try(:name) %></span></td>
          <td data-title="Message" class="last"><span><%= message.try(:message) %></span></td>
          </td>
        </tr>
        <% end %>
      </table> 

    </div>

    <div class="centered">
      <div class="paginations">
        <%= will_paginate @jobseeker_messages, :inner_window =>2,:outer_window =>0, :renderer=> PaginationHelper::LinkRenderer%>
      </div>
    </div>


  </div>
</div>

