<section>
  <div class="margin">
    <article>
      <h1 class="title">Subscribe our Newsletter</h1>
      <p>
        Proin ac nibh justo. Proin blandit risus ut nisl posuere lobortis. Morbi justo mauris, aliquam sit amet varius sit amet, sodales id neque. Aliquam maximus commodo justo. Quisque vitae purus massa. Aliquam in velit in diam tempus blandit.
      </p>
    </article>
    <%= render :partial => 'form' %>
  </div>
</section>
