<div class="container-fluid search-container">
  <div class="container">
    <div class="row">

      <div class="create_container">
          <h1>New NewsLetter</h1>

          <div class="create_job_sub_container container">
            <div class="col-lg-3"></div>
            <div class="col-lg-5">
                <%= render :partial => 'form' %>
            </div>

          </div>
    </div>
    </div>
  </div>
</div>

