<div class="inboard">
  <div class="margin">

    <div class="enclosure w50">
      <h3>Activate/De-Activate Payment Module</h3>
      <%if !@paymentmodule.nil?%>
      <%= render :partial => 'form' %>
      <% else %>
        <h5><%= "No Payment Modules" %></h5>
      <% end %>
    </div>

  </div>
</div>