
<div class="container-fluid search-container">
<div class="container-fluid bg-wrap">
  <div class="container">
    <div class="row">
      <div class="login-wrap reset_password">

        <div class="buttons">
        <div class="wrapper">
          <p id="notice"><%= flash['message'] %></p>
        </div>

        <h3>Your enquiry has been submitted successfully</h3>

      </div>
    </div>
  </div>
</div>
<div class="push">

</div>
</div>
</div>