<section class="inboard-menu orange">
  <div class="margin">

    <!-- Nav -->
    <ul class="nav">
      <li class="orange <%= 'active' if request.path == '/employer/summary' %>"><a href="/employer/summary"><strong>Summary</strong></a></li>
      <li id="nav-company" class="orange <%= 'active' if eprofiles_path.in?(request.path) || request.path == staffs_path || request.path == job_api_index_path || request.path == email_templates_path || request.path == reviews_path || request.path == reviews_path(:by => 'me') %>"><a href="<%= eprofiles_path %>"><strong>Company</strong></a></li>
      <li id="nav-jobs" class="orange <%= 'active' if request.path == '/my_jobs' || request.path == new_job_path || request.path == bookmarks_path || request.path == talent_alerts_path || request.path == my_archives_path %>"><a href="/my_jobs"><strong>Jobs</strong></a></li>
      <li class="orange <%= 'active' if request.path == networks_path %>"><a href="<%= networks_path %>"><strong>Network</strong></a></li>
    </ul>

    <!-- Sub Navs  -->
    <ul class="sub-nav" id="sub-company">
      <li class="<%= 'active' if eprofiles_path.in? request.path %>"><a rel="nofollow" data-method="get" href="<%= eprofiles_path %>" class="detail">Info</a></li>
      <%if session[:staff_user].nil?%>
        <li class="<%= 'active' if request.path == staffs_path %>"><a rel="nofollow" data-method="get" href="<%= staffs_path %>" class="detail">Users</a></li>
      <% end %>
      <li class="<%= 'active' if request.path == job_api_index_path %>"><a rel="nofollow" data-method="get" href="<%= job_api_index_path%>" class="detail">Job API</a></li>
      <li class="<%= 'active' if request.path == email_templates_path %>"><a rel="nofollow" data-method="get" href="<%= email_templates_path %>" class="detail">Email Template</a></li>
      <li class="<%= 'active' if request.fullpath == reviews_path %>"><a rel="nofollow" data-method="get" href="<%= reviews_path %>" class="detail">My Reviews</a></li>
      <li class="<%= 'active' if request.fullpath == reviews_path(:by => 'me') %>"><a rel="nofollow" data-method="get" href="<%= reviews_path(:by => 'me') %>" class="detail">Reviews By Me</a></li>
    </ul>
    <ul class="sub-nav" id="sub-jobs">
      <li class="<%= 'active' if request.path == new_job_path %>"><a rel="nofollow" data-method="get" href="<%= new_job_path %>" class="detail">New</a></li>
      <li class="<%= 'active' if request.path == '/my_jobs' %>"><a rel="nofollow" data-method="get" href="/my_jobs" class="detail">My Jobs</a></li>
      <li class="<%= 'active' if request.path == my_archives_path %>"><a rel="nofollow" data-method="get" href="<%= my_archives_path %>" class="detail">My Archives</a></li>
      <li class="<%= 'active' if request.path == bookmarks_path %>"><a rel="nofollow" data-method="get" href="<%= bookmarks_path %>" class="detail">My Bookmarks</a></li>
      <li class="<%= 'active' if request.path == talent_alerts_path %>"><a rel="nofollow" data-method="get" href="<%= talent_alerts_path %>" class="detail">Talent Alert</a></li>
    </ul>
   

  </div>
</section>


<script type="text/javascript">

  if ($( '#nav-company' ).hasClass( 'active' )) {    
    $('#sub-company').addClass( 'active' );
  } else {
    $('#sub-company').removeClass( 'active' );
  }

  if ($( '#nav-jobs' ).hasClass( 'active' )) {    
    $('#sub-jobs').addClass( 'active' );
  } else {
    $('#sub-jobs').removeClass( 'active' );
  }
</script>