<section class="ensign blue">

<!--   <% if current_user==nil %>
  <h1>&nbsp;</h1>
  <% end %> -->

  <%= render '/layouts/search/search_job_form' %>
  <%= render '/layouts/search/advance_search_job_form' %>

</section>

