<div class="slide-menu">

  <ul>
    <li><%= link_to new_user_registration_path, class: "btn-icon" do %><em class="icon icon-user"></em><span>Register</span><% end %></li>
    <li><%= link_to new_user_session_path, class: "btn-icon" do %><em class="icon icon-lock"></em><span>Login</span><% end %></li>
    <li><%= link_to "Post a Job", new_job_path, class: "btn btn-orange-ghost" %></li>
    <li><%= link_to "Post a Talent", jprofiles_path, class: "btn btn-blue-ghost" %></li>
  </ul>


</div>