<!-- <p>Welcome <%#= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%#= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p> -->


<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
    <tr>
        <td align="center" valign="top">
            <table border="0" cellpadding="20" cellspacing="0" width="600" id="emailContainer">
                <tr>
                    <td align="center" valign="top">
                        <table border="0" cellpadding="15" cellspacing="0" width="100%" id="emailHeader">
                            <tr style="background-color: #192b19;">
                                <td  valign="top" style="color: #ffffff" >
                                 <b>SRAMIC</b>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table border="0" id="emailBody">
                            <tr>
                                <td >
                                    <table>
                                       <tr><b>Welcome <%= @resource.name %></b>,</tr>
                                       <tr><td></td></tr><tr><td></td></tr>

                                       <tr><td valign="top">

                                       <em>You can confirm your account email through the link below:</em><td/></tr>
                                       <tr><td></td></tr><tr><td></td></tr>
                                    <tr><td>
                                    <%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></td></tr>
                                  </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top">
                        <table border="0" cellpadding="15" cellspacing="0" width="100%" id="emailHeader">
                            <tr style="background-color: #192b19;">
                                <td  valign="top" style="color: #ffffff" >
                                 <b><em>ContactUs:</em></b><span style="color: #ffffff !important">  SRAMIC@dev.com</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
